@model WebBanHang.Context.Brand

@{
    ViewBag.Title = "Chi tiết thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">

    <h2 style="color: red ">Chi tiết thương hiệu</h2>

    <div>
        <h5 style="color: #808080 ">Thương hiệu</h5>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Slug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slug)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.ShowOnHomePage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShowOnHomePage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayOrder)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOnUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOnUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedOnUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedOnUtc)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.Deleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Avatar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Avatar)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Chỉnh sửa thương hiệu", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Quay về danh sách", "Index")
    </p>
 </div>
